<div class="container">
  <%= render "layouts/header" %>

  <div class="row">
    <div class="col-md-3">
      <div class="search-element border-bottom-container">
        <%= form_tag(postings_path, :method => "get", id: "search-form") do %>
          <%= label_tag :search, "Search Companies" , class: "label-search" %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Companies" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <% @postings.each do |posting| %>
        <div class="border-bottom-container">
          <p class="posting-title"><%= link_to posting.title, posting_path(posting.id)%></p>
          <p class="posting-company"><%=posting.company%></p>
          <p class="posting-description"><%=truncate(posting.description, :length => 75)%></p>
          <p class="posting-location"><%=posting.location%></p>

        </div>
      <% end %>
    </div>
    <div class="col-md-3 text-center border-bottom-container">
      <h4>Looking for talented people? Post your job here.</h4>
      <%= link_to "Add a new Posting", :new_posting, class: "btn btn-primary m-b-10" %>
    </div>
  </div>



</div>
