<h1><%= @posting.title%></h1>
<div>
  <p>Company: <%= @posting.company %></p>
  <p>Salary: <%= @posting.salary %></p>
  <p>Location: <%= @posting.location %></p>
  <p>Description: <%= @posting.description %></p>
</div>
<div>
  <%= link_to "Edit #{@posting.title}", :edit_posting %>
<div>
  <%= link_to "Back to Index", :postings %>
</div>
