
<%= form_for @posting do |f| %>
<% if f.object.errors.any?%>
  <ul>
    <% f.object.errors.full_messages.each do |e|%>
      <li>Error: <%= e %></li>
    <% end %>
  </ul>
  <% end %>
  <div>
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div>
    <%= f.label :salary %>
    <%= f.number_field :salary %>
  </div>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
