<div class="form-wrapper">
  <%= form_for @posting do |f| %>
  <% if f.object.errors.any?%>
    <ul>
      <% f.object.errors.full_messages.each do |e|%>
        <li>Error: <%= e %></li>
      <% end %>
    </ul>
    <% end %>
    <div>
      <%= f.label :company, class: "form-label" %>
      <%= f.text_field :company, class: "form-input" %>
    </div>
    <div>
      <%= f.label :title, class: "form-label"%>
      <%= f.text_field :title, class: "form-input" %>
    </div>
    <div>
      <%= f.label :description, class: "form-label"%>
      <%= f.text_area :description, :rows => 8, class: "form-input" %>
    </div>
    <div>
      <%= f.label :salary, class: "form-label"%>
      <%= f.number_field :salary, class: "form-input", placeholder: "optional" %>
    </div>
    <div>
      <%= f.label :location, class: "form-label"%>
      <%= f.text_field :location, class: "form-input" %>
    </div>
    <div>
      <%= f.submit class: "btn btn-primary m-b-10" %>
    </div>
  <% end %>
</div>
