<!DOCTYPE html>
<html>
<head>
  <title>JobPostingsApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
    <div id="flash" class="flash green-flash">
      <p class="flash-text"><%= flash[:notice]%></p>
    </div>
<% end %>

<% if flash[:alert] %>
    <div id="flash" class="flash red-flash">
      <p class="flash-text"><%= flash[:alert]%></p>
    </div>
<% end %>

<%= yield %>

</body>
</html>
